{% load bootstrap4 %}   
        <div class="modal-dialog">
            <div class="modal-content">
                 <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">CREATE POLLS</h4>
                </div>
                 <div class="modal-body">
                     <form id="form1" method="POST" action ="{% url 'polls:createpolls' %}">
                             {% csrf_token %}
                             <table>
                            {% bootstrap_form form %}
                             </table>
                 <div class="modal-footer">
                        <button onclick="myfunc()" id="formsubmit" type="submit" class="btn btn-primary">CREATE</button>
                    </form>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    
