{% extends 'polls/dashboardlayout.html' %}
{% block content %}
{% if user.is_authenticated %}
<h3 align="right"> Logged In: {{ user.username }} </h3>
{% else %}
<h3> You are not logged in </h3>
{% endif %}
{% if latest_question_list %}
<br><br>
<div class="jumbotron">
<h3><u>DISCOVER POLLS</u></h3>
<div class="container">
{% if error_message %}<p style="color:red"><strong>{{ error_message }}</strong></p>{% endif %}
<br>
    <ol>
    {% for question in latest_question_list %}
    <li><h4>{{ question.question_text }}</h4>
    <ul>
        <form action="{% url 'polls:vote' question.id %}"  method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
            {% endfor %}
            <br>
            <input type="submit" value="Vote" />
        </form>
    </ul>
    {% endfor %}
    </ol>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</div>
</div>
{% endblock %}