{% load bootstrap4 %}
<div class="modal-dialog">
        <div class="modal-content">
             <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">EDIT POLL</h4>
                </div>
             <div class="modal-body">
                 <form method="POST" action ="{% url 'polls:editpoll' question.id %}" >
                     {% csrf_token %}
                     <table>
                        {% bootstrap_form form %}
                        </table>
                        <br>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">EDIT</button>
                        </form>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    