<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            .btn-primary {
                background: #4285f4;
                border: 1px solid #1266f1;
                color: #ffffff;
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 0.23px;
                padding: 12px 32px;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
        </style>
        <title>
        {% block title %}
        {% endblock %}
        </title>
    </head>
    <body>
        <h1>
            POLLS AND SURVEYS
        </h1>
        {% block content %}
        {% endblock %}
    </body>
</html>