<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#surveybutton").click(function(){
            var question_count = prompt("How many Questions do you need in your Survey Form?");
            if (question_count == ""){
                location.reload()
            }
            else if(question_count){
                var url = "{% url 'polls:createsurveys' 1234 %}".replace(/1234/, question_count.toString());
                $("#surveyModal").load(url);
            }
            else{
                location.reload();
            }
         });
        });
    </script>
    <script>
    function editsurveyfunc(title_id){
        var url = "{% url 'polls:editsurvey' 1234 %}".replace(/1234/, title_id.toString());
        $("#surveyeditModal").load(url);
    }
    </script>
     <script>
     function responsesurveyfunc(title_id){
         var url = "{% url 'polls:surveyresponse' 1234 %}".replace(/1234/, title_id.toString());
         $("#surveyresponseModal").load(url);
        }
    </script>
    <script>
    function showresponsefunc(username,title_id){
        var url = "{% url 'polls:showresponse' 1234 2345 %}".replace(/1234/,username);
        var fullurl = url.replace(/2345/,title_id.toString())
        $("#showresponseModal").load(fullurl);
        }
    </script>
    <style>
            .btn-primary {
                background: #4285f4;
                border: 1px solid #1266f1;
                color: #ffffff;
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 0.23px;
                padding: 12px 32px;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
    </style>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
        {% include 'polls/includes/dashboardheader.html' %}
        {% block content %}
        {% endblock %}
    </body>
</html>